<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
</head>
<body>
<h1 id="titulo">Bienvenido al POKEMASTER</h1>
	<form action="/jugada" method="POST">
		<input type="submit" name="inicioBtn" value="Iniciar" id="inicioBtn">
	</form>
</body>
</html>