<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
</head>
<body>
<h1>Bienvenido al POKEMASTER</h1>
	<form>
		<input type="submit" name="inicioBtn" value="Ingresar Jugada" id="inicioBtn">
	</form>
	<div id="jugadasPrevias">
		
	</div>
</body>
</html>