<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- 	<link  rel="stylesheet" type="text/css" href="../css/styles.css"></link> -->
	<style type="text/css">
		.center{
			text-align: center;
		}
	</style>
</head>
<body>
	<h1 id="jugada" class="center">Realizar jugadas</h1>
	
	<div class="row">
		<div class="col-md-10 col-md-offset-1">


			<table class="table table-striped">
				<tr>
					<th>#</th>
					<th>Number 1</th>
					<th>Number 2</th>
					<th>Number 3</th>
					<th>Number 4</th>
					<th>FIJAS</th>
					<th>PICAS</th>
				</tr>
				<% session['jugadasAnteriores'].each_with_index do |item, index|%>
					<tr>
						<td><%= index %></td>
						<% item.each_with_index do |val, id| %>
							<td id="number<%= id %>_row<%= index %>"><%= val %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
			<hr>
			<form action="/jugada" method="POST" class="form-inline">
				<div class="form-group">
					 <label for="jugada">Jugada</label>
					<input type="text" name="jugada" id="numeroJugada" class="form-control"> 
					<input type="submit" value="Jugar!" class="btn btn-default" id="enviarJugada">
				</div>
			</form>
		</div>
	</div>
</body>
</html>